<%= stylesheet_link_tag    'notes', media: 'all', 'data-turbolinks-track' => true %>
<div class="ask">
    <h2 style="font-family: DoHyeon;"> 전체 글 목록</h2>
</div>
<div class="table-responsive">
  <table class="table table-fit">
    <thead>
      <tr>
        <th>제 &nbsp&nbsp&nbsp&nbsp 목</th>
        <th>글쓴이</th>
        <th>comments</th>
      </tr>
    </thead>
    <tbody>
      <% @note.each do |note| %>
        <tr>
          <td><%=link_to(note.title, note_path(note.id))%></td>
          <td><%=note.user.email%></td>
          <td>100</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <input type="button" value="글쓰기" onclick="window.location.href = '/notes/new';">
  </div>
</div>