body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background: asset_url('hotel_main.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    overflow: auto;
}